body {
    margin: 0;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background: #0b0b1a;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #6f8be5;
}

.hero {
    max-width: none;
    text-align: center;
    padding: 120px 20px;
    background: url("./venera.png") center/cover no-repeat;
    margin: 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #6f8be5;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #d3ddff;
    transform: scale(1.03);
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

#features .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 

    height: 20px;
}

button {
    cursor: pointer;

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
}

#contact {
    width: 40%;
}